<%- include('./partials/header.ejs') %>

	<div>
		<img src="https://i.imgur.com/7kZx5q5.png" alt="foody logo">
	</div>
	<div id="home-search-container">
		<form method="POST" action="/recipes/search">
			<input id="home-page-searchbar" type="text" name="text" placeholder="Search for recipes">
			<button id="home-search-button" class="btn btn-info">Search</button>
		</form>	
	</div>

<%- include('./partials/footer.ejs') %>