header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: inline-block;
}

nav:last-child {
  text-align: right;
}

.modal-sm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#recipe-box-container {
  display: inline-block;

}

.recipe-box {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  height: 300px;
  width: 200px;
  margin: 20px;
}