<%- include('../partials/header.ejs') %>	

	<form method="POST" action="/auth/register">

	  <div class="form-group">
	    <label for="firstname">First Name:</label>
	    <input type="text" id="firstname" name="firstname">
	  </div>  
	  <div class="form-group">
	    <label for="lastname">Last Name:</label>
	    <input type="text" id="lastname" name="lastname">
	  </div>
	  	  <div class="form-group">
	    <label for="location">Location:</label>
	    <input type="text" id="location" name="location">
	  </div>
	  <div class="form-group">
	    <label for="emailaddress">Email Address:</label>
	    <input type="email" id="emailaddress" name="emailaddress">
	  </div>
	  <button type="submit">Save</button>
	</form>	

<%- include('../partials/footer.ejs') %>	