<%- include('../partials/header.ejs') %>

	<h1>Recipe show page</h1>
	<textarea disabled>
		<%= recipe.ingredients %>
	</textarea>
	<textarea disabled>
		<%= recipe.instructions %>
	</textarea>


<%- include('../partials/footer.ejs') %>
